NEXT_PUBLIC_SUPABASE_URL=https://wmrzivkathiekscjbvcs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtcnppdmthdGhpZWtzY2pidmNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ4NjU2NTYsImV4cCI6MjEwMDQ0MTY1Nn0.Req_egNhrwIHalXwISyk0BOA6crRySy2lhqvVOebY4E
